//<link rel="stylesheet" type="text/css" href="{{ elixir('css/app.css') }}">
header {
  background: $brand-primary;
  color: white;
  padding: 30px;
  margin-bottom: 30px;

  h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
  }
}

article{
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &:last-child{
    border-bottom: none;
  }

  p{
    border-left: 5px solid lighten($text-color, 30%);
    margin:0 0 15px 0;
    padding-left: 15px;
  }
}

footer{
  padding: 15px;
  background: lighten($text-color, 20%);
  color: white;
}

form{
  @include clearfix();
  margin-bottom: 30px;
}
